body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
#sidebar {
  position: fixed;
  width: 240px;
  top: 0;
  bottom: 0;
  left: -190px;
  background-color: #333;
  z-index: 1000;
  padding-top: 60px;
  box-sizing: border-box;

  transition: left 160ms;
}
#sidebar.open {
  left: 0;
}
#sidebar .sidebar-toggle {
  display: block;
  margin: -55px 7px 0 auto;
  width: 30px;
  cursor: pointer;
  padding: 3px 6px 0 3px; 
}
#sidebar .sidebar-toggle:focus {
  background-color: rgba(0,0,0,0.5);
  outline: 0;
}
#sidebar .location-list {
  list-style-type: none;
  padding: 0;
  display: none;
}
#sidebar.open .location-list {
  display: block;
}
#sidebar .location-list li {
  color: #ffffff;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
}
#sidebar .location-list li.active {
  background-color: #fff;
  color: #000;
}
#sidebar .location-list li.active:hover, #sidebar .location-list li.active:focus {
  background-color: #ddd;
  color: #000;
}
#sidebar .location-list li:hover,  #sidebar .location-list li:focus{
  background-color: rgba(0,0,0,0.5);
  outline: 0;
}
#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  z-index: 500;
}

/* ########### Responsive ########### */
@media screen and (min-width: 768px) {
  #sidebar {
    padding-top: 0px;
  }
  #sidebar.closed {
    left: 0px;
  }
  #sidebar.closed .location-list {
    display: block;
  }
  #sidebar .sidebar-toggle {
    display: none;
  }
  #map {
    left: 240px;
  }
}